html,
body {
	background: #191A1F;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#root {
	max-width: 100vw;
	min-height: 100vh;
	background-color: inherit;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.read-the-docs {
	color: #888;
}

.custom-radius {
	border-radius: 20px;
}

.font-weight-login {
	font-weight: 500;
}

.custom-input {
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 100%;
}

.custom-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.custom-checkbox {
	width: 15px;
	height: 15px;
	border-radius: 100%;
	border: 1px solid green;
	background-color: black;
	appearance: none;
	position: relative;
}

.custom-checkbox:checked {
	background-color: green;
}

.hr-custom {
	border: none;
	height: 2px;
	background-color: white;
}

.btn-custom-signup {
	background: #01040F;
	width: 83px;
	height: 65px;
	border-radius: 12px;

}

.mx-4-nav-cus {
	margin-left: 2rem;
	margin-right: 2rem;
}

.custom-placeholder::placeholder {
	color: #858585;
	opacity: 1;
}

input[type="time"]::-webkit-calendar-picker-indicator {
	background-color: white; /
}