.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.loading-icon {
	width: 40vw;
	height: auto;
	margin-bottom: 5vw;
}

.loading-spinner {
	width: 8vw;
	height: 8vw;
	border-width: 0.8vw;
}