html, body {
  background: #191A1F;
  margin: 0; 
  padding: 0; 
  width: 100%; /* Ensure full width */
  height: 100%;
  box-sizing: border-box; /* Ensure full height */
}
*, *::before, *::after {
  box-sizing: inherit; /* Inherit box-sizing from html */
}


#root {
  max-width: 1280px; /* Limit maximum width */
  margin: 0 auto; /* Center the container */
  padding: 2rem; /* Add padding for spacing */
  min-height: 100vh; /* Fill at least the height of the viewport */
  background-color: inherit; /* Inherit background color from body */
  font-size: 16px;
}

.child-element {
  max-width: 100%; /* Ensures the child doesn't go beyond its parent container */
  overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 768px) { /* Targets iPad portrait mode */
  #root {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}

/* Additional media query for larger devices like iPad landscape mode */
@media (min-width: 769px) and (max-width: 1024px) { /* Targets iPad landscape mode */
  #root {
    padding: 2rem; /* Adjust padding if necessary */
  }
}

/* Specific adjustments for iPads */
@media (max-width: 1024px) { /* Targets all iPads */
  html, body {
    background-color: yourBackgroundColor; /* Consistent background color */
  }

  #root {
    padding: 2rem; /* Maintain padding */
    min-height: 100vh; /* Ensure it fills the viewport */
  }
}

/* Ensure containers and elements do not overflow */
.container {
  padding: 0; /* Reset container padding if necessary */
  margin: 0; /* Reset container margin if necessary */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.custom-radius {
  border-radius: 20px;
}
.font-weight-login{
  font-weight: 500;
}
.custom-input {
  background-color: black; 
  color: white; 
  border: 1px solid white;
  width: 100%;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.6); 
}

.custom-checkbox {
  width: 15px;
  height: 15px; 
  border-radius: 100%; 
  border: 1px solid green;
  background-color: black; 
  appearance: none; 
  position: relative;
}

.custom-checkbox:checked {
  background-color: green; 
}
.hr-custom {
  border: none;
  height: 2px; 
  background-color: white; 
}

.btn-custom-signup{
  background: #01040F;
  width: 83px;
  height: 65px;
  border-radius: 12px;

}

.mx-4-nav-cus {
  margin-left: 2rem; 
  margin-right: 2rem; 
}
.custom-placeholder::placeholder {
  color: #858585; /* Change the placeholder color to white */
  opacity: 1; /* Optional: Set opacity to 1 for better visibility */
}